@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope&display=swap');

:root {
  --background: #f8f8f8;
  --foreground: #f8f8f8;
}

@theme inline {
  --color-primary-600: #1C64F2;
  --color-primary-700: #1A56DB;
  --color-success: #DEF7EC;
  --color-background-dashboard: #f8f8f8;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: 'Inter', sans-serif;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-weight-600: 600;
  --font-weight-400: 400;
  --text-heading: 40px / 60px;

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
